.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay_opened {
  visibility: visible;
  opacity: 1;
}

.overlay_closed {
  visibility: hidden;
  opacity: 0;
}

.popup {
  margin: 70px auto;
  padding: 35px;
  background: #fff;
  border-radius: 5px;
  width: 40%;
  height: 85%;
  overflow: auto;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 35px;
}
.popup .close {
  position: absolute;
  top: 5px;
  right: 10px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  font-size: 13px;
  word-wrap: break-word;
}
.image {
  padding: 40px;
}

.image__img {
  width: 100%;
}

@media screen and (max-width: 700px){
  .popup{
    width: 70%;
  }
}
